@import "./core/styles/decade.css";
@import "./core/styles/year.css";
@import "./core/styles/month.css";

.datePicker-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 24px;
	background-color: #fff;
	border: 2px solid #1890ff;
	border-radius: 16px;
}

.datePicker-header {
	user-select: none;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.datepicker-header__time {
	align-self: start;
	font-weight: bold;
	font-size: 20px;
}

.datePicker__controls {
	display: flex;
	align-items: center;
}

.datePicker__controller {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 37px;
	height: 14px;
}

.datePicker__controller_type_next {
	background-image: url("./static/defaultIcons/arrow.svg");
}

.datePicker__controller_type_prev {
	backface-visibility: hidden;
	background-image: url("./static/defaultIcons/arrow.svg");
	rotate: 180deg;
}

.datePicker-header__toggler {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}
